*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: max-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: rgb(241, 194, 194);
  font-family: "Courier New", Courier, monospace;
  padding: 1em;
  text-align: center;
}

h1 {
  color: rgb(149, 88, 155);
  padding: 1em 1em;
}

h2 {
  color: rgb(96, 108, 124);
  padding: 0.5em 0em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form input {
  text-align: center;
  padding: 0.3em;
  border-radius: 0.4em;
  border: none;
}

form button {
  margin: 0.5em;
  padding: 0.5em 1em;
  color: rgb(241, 194, 194);
  background-color: rgb(149, 88, 155);
  border: none;
  border-radius: 0.4em;
}

form label,
form input {
  margin: 0.2em;
}

table {
  margin: 2em;
  border-color: blueviolet;
  /* border-spacing: 2px; */
  border-collapse: collapse;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: blueviolet;
}

tr,
td,
th {
  padding: 0.4em;
  border: 2px solid rebeccapurple;
}
